<app-headframe></app-headframe>

<ion-content id="container">
  <div>

    <!--used for loop to bind data from recommend-page.ts-->
    <!--Was also able to bind images took awhile to figure out- it paste the string into src and locates the images-->

    <div *ngFor="let a of fave">
      <h4 align="center"> {{a.name}} </h4>
      <ion-item>
        <img [src]="a.imgage" height="200" width="300" />
        <p align="right"> {{a.discript}}</p>
      </ion-item>
    </div>


  </div>
</ion-content>