<ion-header >
  <ion-toolbar>
    <ion-title id = "heading">
      Anime FanPage
    </ion-title>
    <p align ="center">	
      <a [routerLink]="['/home']" routerDirection="forward">Home </a>	
        
      <a  [routerLink]="['/type-page']" routerDirection="forward">Types </a>	
      <a [routerLink]="['/fav-page']" routerDirection="forward">Favourite </a>
      <a [routerLink]="['/recommend-page']" routerDirection="forward">Recommendation </a>
      <a [routerLink]="['/char-page']" routerDirection="forward">Characters </a>
      
    </p>

  </ion-toolbar>
</ion-header>

<ion-content id="container">
<div >
  
  <p>Start with Ionic UI Components</p>
</div>
</ion-content>
