<ion-header >
  <ion-toolbar>
    <ion-title id = "heading">
      Anime FanPage
    </ion-title>
    <p align ="center">	
      <a [routerLink]="['/home']" routerDirection="forward">Home </a>	
        
      <a  [routerLink]="['/type-page']" routerDirection="forward">Types </a>	
      <a [routerLink]="['/fav-page']" routerDirection="forward">Favourite </a>
      <a [routerLink]="['/recommend-page']" routerDirection="forward">Recommendation </a>
      <a [routerLink]="['/char-page']" routerDirection="forward">Characters </a>
      
    </p>

  </ion-toolbar>
</ion-header>

<ion-content id="container">

<ion-card>
  <img src="../../assets/PICS/Taiga.jpg" width="650px" height="350px">
  <ion-card-header>
    <ion-card-title>Toradora</ion-card-title> 
    <ion-card-subtitle>Romantic Comedy</ion-card-subtitle> 
  </ion-card-header>

</ion-card>

<ion-card>
  <img src="../../assets/PICS/Deku.jpg" width="650px" height="350px">
  <ion-card-header>
    <ion-card-title>My Hero Academia</ion-card-title> 
    <ion-card-subtitle>Shounen</ion-card-subtitle> 
  </ion-card-header>

</ion-card>

<ion-card>
  <img src="../../assets/PICS/7sins.jpg" width="650px" height="350px">
  <ion-card-header>
    <ion-card-title>Seven Deadly sins</ion-card-title> 
    <ion-card-subtitle>Shounen</ion-card-subtitle> 
  </ion-card-header>

</ion-card>

</ion-content>
