<app-headframe></app-headframe>


<ion-content id="container">
  <!--Used cards to display information-->

  <ion-card>
    <img src="../../assets/PICS/Taiga.jpg" width="650px" height="350px">
    <ion-card-header>
      <ion-card-title>Toradora</ion-card-title>
      <ion-card-subtitle>Romantic Comedy</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card>
    <img src="../../assets/PICS/Deku.jpg" width="650px" height="350px">
    <ion-card-header>
      <ion-card-title>My Hero Academia</ion-card-title>
      <ion-card-subtitle>Shounen</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card>
    <img src="../../assets/PICS/7sins.jpg" width="650px" height="350px">
    <ion-card-header>
      <ion-card-title>Seven Deadly sins</ion-card-title>
      <ion-card-subtitle>Shounen</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

</ion-content>