<ion-header >
    <ion-toolbar>
      <ion-title id = "heading">
        Anime FanPage
      </ion-title>
      <p align ="center">	
        <a [routerLink]="['/home']" routerDirection="forward">Home </a>	
          
        <a  [routerLink]="['/type-page']" routerDirection="forward">Types </a>	
        <a [routerLink]="['/fav-page']" routerDirection="forward">Favourite </a>
        <a [routerLink]="['/recommend-page']" routerDirection="forward">Recommendation </a>
        <a [routerLink]="['/char-page']" routerDirection="forward">Characters </a>
        
      </p>

    </ion-toolbar>
</ion-header>

<ion-content id="container">
  <body>
		<h1 id = "heading"> Anime FanPage</h1>

			<h1 align="center">			
				Welcome Anime Fans 
			</h1>
	
		<img src="../../assets/PICS/welcome.jpg" alt = "welcomers" align = "right" width = "600px" height = "200px" >
		<h3 class = "sub">
			What is this fan page all about?
		
		</h3>
		
		<p>
			Hey anime lovers, just like you I am completely obsessed with anime. So I created a mini webpage on anime (because of my obsession). My webpage include all the anime I recommend you should watch, my favourite animes, the differnent types of animes, my favourite anime scenes, and lots more. I won't be doing stuff like anime history or anything on the creator of animes. If you would like to learn about the history <a href= "https://en.wikipedia.org/wiki/Anime">Click Here.</a>
		</p>
		
		<br/><br/>
		
		<p>
			<img src="../../assets/PICS/mintro.jpg" alt = "Meme intro" align = "middle" width = "200px" height ="200px">
			Dont worry Sayacha, we have plenty of memes. Hope you all enjoy.
		</p>
		
	</body>
</ion-content>
